# IDE / Editor
.reflex/
.vscode/
.vs/
# Build sentinel files
.version-pack-sentinel
*.user
*.suo
*.userprefs

# .NET build output
bin/
obj/
publish/
out/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# OS files
Thumbs.db
.DS_Store

# Rider
.idea/
*.sln.iml